<footer>
    <div class="footerbox">
        <div class="footercontent">Copyright ©&ensp;<span class="year"></span>&ensp;Nisha Kumari</div>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>