* {
    margin: 0;
    padding: 0;
    font-family: "Spline Sans", serif;
}

:root {
    --primary-color:rgb(135, 65, 65);
  }


.navbar {
    /* border: 2px solid red; */
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-color);
    margin-bottom: 50px;
    position: relative;
}


.navberitems {
    /* border: 1px solid rgb(0, 255, 13); */
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navberitems a {
    font-size: larger;
    text-decoration: none;
    color: white;
}

.navberitems a:hover {
    text-decoration: underline;
}

.social-media {
    /* border: 2px solid rgb(0, 255, 13); */
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    gap: 50px;
    font-size: 35px;
}

.fa-linkedin,
.fa-github {
    color: white;
}

.fa-linkedin:hover,
.fa-github:hover {
    opacity: 0.7;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

h1,h2{
    font-size: 1rem;
}

h1,
h2,
p {
    color: var(--primary-color);
}

/* Hero section */
.container {
    /* border: 2px solid red; */
    height: 500px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 50px;


}

.herosection {
    /* border: 2px solid rgb(64, 213, 23); */
    width: 1300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    border-radius: 25px;
}

.box {
    /* border: 2px solid rgb(228, 125, 15); */
    width: 555px;
    height: 300px;
    text-align: center;
    text-align: justify;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;

}

.btn {
    width: 130px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn a {
    text-decoration: none;
    color: white;

}

.btn:hover {
    opacity: 0.7;
}



.imgbox {
    border-radius: 400px;
    /* border: 2px solid rgb(243, 24, 228); */
    width: 450px;
    height: 450px;
    background-image: url(/images/Nisha_Kumari.png);
    /* background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; */
}


/* Project Section */
.projectcontainer {
    width: 100%;
    height: 1400px;
    /* border: 2px solid red;  */
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--primary-color);
    position: relative;
    color: white;
}

.probox {
    width: calc(40% - 100px);
    height: 500px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 30px;
    position: relative;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.probox::after,
.probox::before {

    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, white);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    animation: 3s spin linear infinite;
}

.probox::before {
    filter: blur(1rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.blockbox {
    background-color: var(--primary-color);
    z-index: 9999;
    width: 100%;
    border-radius: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    gap:20px;
}

.projectimg {
    width: 100%;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* border: 1px solid red;  */
    /* border-radius: 20px; */
}

.projectimg img {
    width: 100%;
    height: 250px;
    /* border-radius: 20px; */
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.projectinfo {
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(13, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.projectinfo p {
    color: white;
}

.Projectbtn {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.Projectbtn:hover {
    background-color: #589de6;
}





/* About Section */

.aboutfullinfo {
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.mebox {
    /* border: 2px solid red; */
    width: 1300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    background-color: white;
    border-radius: 25px;

}

.info {
    /* border: 2px solid red; */
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
}
#aboutmeheading{
    font-size: 18px;
    height: 50px;
    width: 100%;
    /* border: 1px solid red; */
}

#aboutmepara{
    font-size: 18px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* border: 1px solid rgb(21, 250, 52); */
}

/* Form Section */
.contactcontainer {
    background: var(--primary-color);
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: 2px solid white;
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    /* box-shadow: 4px 0 4px 0 white; */


}


.contactcontainer h2 {
    color: white;
    margin-top: 50px; 
}

input,
textarea {
    width: 90%;
    /* Instead of fixed 800px */
    max-width: 800px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    text-align: left;
    align-content: center;
}

textarea {
    height: 300px;
    /* Fixed height */
    align-content: flex-start;
    resize: none;
    /* Prevents resizing */
    overflow-y: auto;
    /* Allows scrolling if text overflows */
}

.submitbtn {
    width: 200px;
    height: 50px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}


#scrollToTop {
    border: 2px solid white;
    position: fixed;
    bottom: 16px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    background-color: var(--primary-color);
    z-index: 99999;

}

.fa-angle-up {
    color: white;
}


/* Footer Section */
.footerbox {
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.footercontent {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.year {
    font-size: 15px;
}



@media screen and (max-width: 768px) {

    .navbar {
        /* border: 1px solid red; */
        width: 100%;
        height: 80px;
        justify-content: center;
        gap: 140px;
        z-index: 9999;

    }

    .navberitems {
        display: none;
        /* flex-direction: column; */
        align-items: center;
        position: absolute;
        justify-content: space-evenly;
        border: 1px solid white;
        border-radius: 5px;
        top: 80px;
        height: 35px;
        width: 100%;
        background-color: var(--primary-color);
        padding: 5px 0;
        font-size: 10px;

    }

    .navberitems.active {
        display: flex;

    }

    .hamburger {
        display: block;
        /* border: 1px solid red; */

    }

    .social-media {
        /* border: 1px solid rgb(0, 255, 13); */
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        gap: 10px;
        font-size: 30px;
    }



    /* Hero section */
    .container {
        /* border: 2px solid red; */
        height: 400px;
        width: 100%;
        flex-direction: column;

    }

    .herosection {
        /* border: 1px solid rgb(64, 213, 23); */
        width: 90%;
        height: 400px;
        flex-direction: column-reverse;
        gap: 10px;
        border-radius: 10px;
        padding-top: 5px;

    }

    .box {
        /* border: 1px solid rgb(228, 125, 15); */
        width: 80%;
        height: 200px;
        border-radius: 10px;
        padding: 20px;
        font-size: 10px;

    }

    .btn {
        width: 100px;
        height: 40px;
        border-radius: 10px;
    }


    .imgbox {
        border-radius: 100px;
        /* border: 1px solid rgb(243, 24, 228); */
        width: 150px;
        height: 150px;
        background-image: url(/images/Nisha_Kumari.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Project Section */
    .projectcontainer {
        width: 100%;
        height: 1500px;
        /* border: 2px solid red;  */
        flex-direction: column;
        gap: 20px;
    }

    .probox {
        width: calc(100% - 100px);
        height: 330px;
        border-radius: 15px;
    }

    .probox::after,
    .probox::before {
        border-radius: 15px;
        animation: 6s spin linear infinite;
    }

    .blockbox {
        border-radius: 15px;
        /* border: 1px solid red; */
        gap: 15px;
    }

    .projectimg {
        height: 150px;
        /* border: 1px solid red;  */
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .projectimg img {
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .projectinfo {
        height: 150px;
        /* border: 1px solid rgb(13, 255, 0); */
        gap: 10px;
    }

    .projectinfo p {
        font-size: 15px;
    }

    .Projectbtn {
        padding: 5px;
    }

    /* About section */
    .aboutfullinfo {
        width: 100%;
        height: 400px;
        /* border: 1px solid red; */
    }

    .mebox {
        /* border: 1px solid red; */
        width: 90%;
        height: 400px;
        border-radius: 10px;
        padding-top: 5px;
    }

    .info {
        /* border: 1px solid rgb(50, 211, 104); */
        height: 300px;
        width: 100%;
        padding: 5px;
        /* font-weight: bold; */
    }
    #aboutmeheading{
        font-size: 11px;
        height: 25px;
        width: 100%;
        /* border: 1px solid red; */
    }
    
    #aboutmepara{
        font-size: 11px;
        height: 275px;
        /* border: 1px solid rgb(21, 250, 52); */
    }



    /* Form Section */
    .contactcontainer {
        width: 100%;
        height: 500px;
        justify-content: center;
        /* border: 1px solid green; */
    }


    #contactForm {
        width: 90%;
        height: 400px;
        border-radius: 10px;
        /* border: 1px solid rgb(96, 40, 226); */
    }


    .contactcontainer h2 {
        margin-top: 10px;
        font-size: 35px;
    }

    input,
    textarea {
        padding: 5px;
        border-radius: 5px;
        height: 30px;
    }

    textarea {
        height: 250px;
    }

    .submitbtn {
        width: 150px;
        height: 50px;
        padding: 5px;
        font-size: small;
        font-weight: bold;
        margin-bottom: 10px;
    }


    #scrollToTop {
        border: 1px solid white;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
    }

    /* Footer Section */
    .footerbox {
        width: 100%;
        height: 30px;
        /* border: 2px solid red; */
        font-size: 10px;
    }
    .year {
        font-size: 10px;
    }
}


