<%- include("partials/header.ejs") %>

<div class="aboutfullinfo">
    <div class="mebox">
        <div class="info">
            <div id="aboutmeheading">
                <h1>About Me</h1>
            </div>
            <div id="aboutmepara">
                <p>
                    Passionate about blending creativity with technology, I am an aspiring Web Developer with a
                    strong foundation in front-end and back-end development. I hold a Bachelor’s degree in Commerce
                    (B.Com) and have two years of experience in Business Development (BD). However, driven by my
                    deep interest in web technologies, I have transitioned my focus toward web development.
                    <br>
                    <br>
                    I have honed my skills in HTML, CSS, JavaScript, Bootstrap, React, Node.js, and Express,
                    enabling me to create dynamic and user-friendly web applications. My background in business
                    development has equipped me with strong problem-solving, communication, and analytical skills,
                    which I now aim to integrate into the tech industry.
                    <br>
                    <br>
                    Currently seeking opportunities to gain hands-on experience, collaborate with professionals, and
                    contribute to innovative web solutions. Eager to learn, adapt, and build impactful digital
                    experiences, I am excited to embark on this journey and establish myself as a skilled web
                    developer.
                </p>
            </div>

        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>