<%- include("partials/header.ejs") %>

<div class="contactcontainer">
    <h2>Contact Me</h2>
    <form id="contactForm" action="/send-email" method="POST">
        <input type="text" id="name" name="name" placeholder="Your Name" required>
        <input type="email" id="email" name="email" placeholder="Your Email" required>
        <textarea id="message" name="message" placeholder="Your Message" required></textarea>
        <button class="submitbtn" id="submitBtn" type="submit">Send Message</button>
    </form>
    <p id="responseMessage"></p>
</div>



<%- include("partials/footer.ejs") %>