<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="herosection">
            <div class="box">
                <h1>Hi, myself<br><span style="color: #334155;">Nisha Kumari</span></h1>
                <h2>and I'm <span style="color: #334155;">Full Stack Developer</span></h2>
                <br>
                <p>I’m a self-motivated web developer passionate about building modern, user-friendly websites and
                    applications. With a strong foundation in frontend and backend technologies, I love solving
                    challenges and bringing creative ideas to life....</p>
                <br>
                <div class="btndiv">
                    <button class="btn"><a href="/about">Know More</a></button>
                    <button class="btn"><a href="/Nisha_Kumari _Resume.pdf" download="Nisha_Kumari_Resume.pdf">Download CV</a></button>
                </div>
                <div class="tag-list">
                    <div class="inner">
                        <div class="tag"><span>#HTML</span></div>
                        <div class="tag"><span>#CSS</span></div>
                        <div class="tag"><span>#Javascript</span></div>
                        <div class="tag"><span>#Node.js</span></div>
                        <div class="tag"><span>#Express</span></div>
                        <div class="tag"><span>#React.js</span></div>
                        <div class="tag"><span>#Next.js</span></div>
                        <div class="tag"><span>#MongoDB</span></div>
                        <div class="tag"><span>#Python</span></div>
                        <div class="tag"><span>#Git</span></div>
                        <div class="tag"><span>#Github</span></div>
                        <div class="tag"><span>#PostgreSQL</span></div>
                        <div class="tag"><span>#Bootstrap</span></div>
                        <div class="tag"><span>#jQuery</span></div>
                        <div class="tag"><span>#Postman</span></div>
                        <div class="tag"><span>#Tailwind CSS</span></div>
                        <div class="tag"><span>#AWS</span></div>
                        <!-- Duplicate Content for Infinite Scroll -->
                        <div class="tag"><span>#HTML</span></div>
                        <div class="tag"><span>#CSS</span></div>
                        <div class="tag"><span>#Javascript</span></div>
                        <div class="tag"><span>#Node.js</span></div>
                        <div class="tag"><span>#Express</span></div>
                        <div class="tag"><span>#React.js</span></div>
                        <div class="tag"><span>#Next.js</span></div>
                        <div class="tag"><span>#MongoDB</span></div>
                        <div class="tag"><span>#Python</span></div>
                        <div class="tag"><span>#Git</span></div>
                        <div class="tag"><span>#Github</span></div>
                        <div class="tag"><span>#PostgreSQL</span></div>
                        <div class="tag"><span>#Bootstrap</span></div>
                        <div class="tag"><span>#jQuery</span></div>
                        <div class="tag"><span>#Postman</span></div>
                        <div class="tag"><span>#Tailwind CSS</span></div>
                        <div class="tag"><span>#AWS</span></div>
                    </div>
                    <div class="fade"></div>
                </div>
                
            </div>
            <div class="imgbox"></div>
        </div>
    </div>

    <div class="projectcontainer" id="projects">
        <div class="probox" id="project1">
            <div class="blockbox">
                <div class="projectimg">
                    <img src="/images/Hizashisora.png" alt="Hizashi Sora Project">
                </div>
                <div class="projectinfo">
                    <h3>E-commerce Website</h3>
                    <p>A modern e-commerce platform built with Next.js and MongoDB, designed for seamless online
                        shopping. Secure payments and a user-friendly experience.</p>
                    <a href="https://www.hizashisora.com/" target="_blank" rel="noopener noreferrer"
                        class="Projectbtn">View Project</a>
                </div>
            </div>
        </div>
        <div class="probox" id="project2">
            <div class="blockbox">
                <div class="projectimg">
                    <img src="/images/Portfolio.png" alt="Portfolio Project">
                </div>
                <div class="projectinfo">
                    <h3>Portfolio</h3>
                    <p>Built with modern web technologies like HTML, CSS, JavaScript, it features a
                        responsive design, interactive UI, and a contact form for easy communication.</p>
                    <a href="/" target="_blank" rel="noopener noreferrer" class="Projectbtn">View Project</a>
                </div>
            </div>
        </div>
        <div class="probox" id="project3">
            <div class="blockbox">
                <div class="projectimg">
                    <img src="/images/Blogproject.png" alt="Blog Project">
                </div>
                <div class="projectinfo">
                    <h3>Blog</h3>
                    <p>A Node.js, Express, and EJS-powered CRUD blog where users can explore, create, update, and
                        delete
                        cat-related content seamlessly.</p>
                    <a href="https://blog-project-bmfk.onrender.com" target="_blank" rel="noopener noreferrer"
                        class="Projectbtn">View Project</a>
                </div>
            </div>
        </div>
        <div class="probox" id="project4">
            <div class="blockbox">
                <div class="projectimg">
                    <img src="/images/APIproject.png" alt="API Project">
                </div>
                <div class="projectinfo">
                    <h3>API</h3>
                    <p>This Express/Node.js project uses Axios to integrate a public API, fetch data, and display it in
                        a user-friendly way.</p>
                    <a href="https://happyhours-dnx0.onrender.com" target="_blank" rel="noopener noreferrer"
                        class="Projectbtn">View Project</a>
                </div>
            </div>
        </div>
        <div class="probox" id="project5">
            <div class="blockbox">
                <div class="projectimg">
                    <img src="/images/PVF.png" alt="Personal Finance Visualizer">
                </div>
                <div class="projectinfo">
                    <h3>Personal Finance Visualizer</h3>
                    <p>PFV is a web application built with Next.js, React, shadcn/ui, Recharts, and MongoDB that helps
                        users track their expenses and visualize their financial data.</p>
                    <a href="https://personal-finance-visualizer-wine.vercel.app/" target="_blank"
                        rel="noopener noreferrer" class="Projectbtn">View Project</a>
                </div>
            </div>
        </div>
        <div class="probox" id="project6">
            <div class="blockbox">
                <div class="projectinfo">
                    <h3 class="typing-text"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutfullinfo" id="about">
        <div class="mebox">
            <div class="info">
                <div id="aboutmeheading">
                    <h1>About Me</h1>
                </div>
                <div id="aboutmepara">
                    <p>
                        Passionate about blending creativity with technology, I am an aspiring Web Developer with a
                        strong foundation in front-end and back-end development. I hold a Bachelor’s degree in Commerce
                        (B.Com) and have two years of experience in Business Development (BD). However, driven by my
                        deep interest in web technologies, I have transitioned my focus toward web development.
                        <br>
                        <br>
                        I have honed my skills in HTML, CSS, JavaScript, Bootstrap, React, Node.js, and Express,
                        enabling me to create dynamic and user-friendly web applications. My background in business
                        development has equipped me with strong problem-solving, communication, and analytical skills,
                        which I now aim to integrate into the tech industry.
                        <br>
                        <br>
                        Currently seeking opportunities to gain hands-on experience, collaborate with professionals, and
                        contribute to innovative web solutions. Eager to learn, adapt, and build impactful digital
                        experiences, I am excited to embark on this journey and establish myself as a skilled web
                        developer.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="contactcontainer" id="contact">
        <h2>Contact Me</h2>
        <form id="contactForm" action="/send-email" method="POST">
            <input type="text" id="name" name="name" placeholder="Your Name" required autocomplete="name">
            <input type="email" id="email" name="email" placeholder="Your Email" required autocomplete="email">
            <textarea id="message" name="message" placeholder="Your Message" required autocomplete="off"></textarea>
            <button class="submitbtn" id="submitBtn" type="submit">Send Message</button>
        </form>
        <p id="responseMessage"></p>
    </div>

    <button id="scrollToTop"><i class="fa-solid fa-angle-up"></i></button>

    <%- include("partials/footer.ejs") %>