<%- include("partials/header.ejs") %>

<div class="projectcontainer">
    <div class="probox" id="project1">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Hizashisora.png" alt="Hizashi Sora Project">
            </div>
            <div class="projectinfo">
                <h3>E-commerce Website</h3>
                <p>A modern e-commerce platform built with Next.js and MongoDB, designed for seamless online
                    shopping. Secure payments and a user-friendly experience.</p>
                <a href="https://www.hizashisora.com/" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project2">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Portfolio.png" alt="Portfolio Project">
            </div>
            <div class="projectinfo">
                <h3>Portfolio</h3>
                <p>Built with modern web technologies like HTML, CSS, JavaScript, it features a
                    responsive design, interactive UI, and a contact form for easy communication.</p>
                <a href="/" target="_blank" rel="noopener noreferrer" class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project3">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Blogproject.png" alt="Blog Project">
            </div>
            <div class="projectinfo">
                <h3>Blog</h3>
                <p>A Node.js, Express, and EJS-powered CRUD blog where users can explore, create, update, and
                    delete
                    cat-related content seamlessly.</p>
                <a href="https://blog-project-bmfk.onrender.com" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project4">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/APIproject.png" alt="API Project">
            </div>
            <div class="projectinfo">
                <h3>API</h3>
                <p>This project is build using the Express/Node.js, with the Axios HTTP client, that integrates
                    a
                    public API. The website interact with the API, retrieve data, and present it in a
                    user-friendly
                    manner.</p>
                <a href="https://happyhours-dnx0.onrender.com" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>