<%- include("partials/header.ejs") %>

<div class="projectcontainer" id="projects">
    <div class="probox" id="project1">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Hizashisora.png" alt="Hizashi Sora Project">
            </div>
            <div class="projectinfo">
                <h3>E-commerce Website</h3>
                <p>A modern e-commerce platform built with Next.js and MongoDB, designed for seamless online
                    shopping. Secure payments and a user-friendly experience.</p>
                <a href="https://www.hizashisora.com/" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project2">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Portfolio.png" alt="Portfolio Project">
            </div>
            <div class="projectinfo">
                <h3>Portfolio</h3>
                <p>Built with modern web technologies like HTML, CSS, JavaScript, it features a
                    responsive design, interactive UI, and a contact form for easy communication.</p>
                <a href="/" target="_blank" rel="noopener noreferrer" class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project3">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/Blogproject.png" alt="Blog Project">
            </div>
            <div class="projectinfo">
                <h3>Blog</h3>
                <p>A Node.js, Express, and EJS-powered CRUD blog where users can explore, create, update, and
                    delete
                    cat-related content seamlessly.</p>
                <a href="https://blog-project-bmfk.onrender.com" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project4">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/APIproject.png" alt="API Project">
            </div>
            <div class="projectinfo">
                <h3>API</h3>
                <p>This Express/Node.js project uses Axios to integrate a public API, fetch data, and display it in
                    a user-friendly way.</p>
                <a href="https://happyhours-dnx0.onrender.com" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project5">
        <div class="blockbox">
            <div class="projectimg">
                <img src="/images/PVF.png" alt="Personal Finance Visualizer">
            </div>
            <div class="projectinfo">
                <h3>Personal Finance Visualizer</h3>
                <p>PFV is a web application built with Next.js, React, shadcn/ui, Recharts, and MongoDB that helps users track their expenses and visualize their financial data.</p>
                <a href="https://personal-finance-visualizer-wine.vercel.app/" target="_blank" rel="noopener noreferrer"
                    class="Projectbtn">View Project</a>
            </div>
        </div>
    </div>
    <div class="probox" id="project6">
        <div class="blockbox">
            <div class="projectinfo">
                <h3 class="typing-text"></h3>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>